#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.form-range-lg {
    height: 1.4rem !important;
}

    .form-range-lg::-webkit-slider-thumb {
        width: 1.6rem;
        height: 1.6rem;
    }


